* {
    padding: 0;
    margin: 0;
}
body {
    padding: 0;
    margin: 0;
    color: #fff;
    background-color: hsl(218, 28%, 13%);
    outline: 1px solid orangered;
}

.example {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.example::-webkit-scrollbar {
    display: none;
}

.nav {
    display: flex;
    flex-direction: row;
    padding: 30px 60px;
    justify-content: space-between;
}
.head-img {
    cursor: pointer;
}
.text {
    justify-content: space-evenly;
}
.text ul {
    list-style: none;
    padding: 0 60px;
}
.text ul li {
    display: inline-block;
    padding: 0 20px;
    cursor: pointer;
    font-family: "Raleway";
}
@media (min-width: 320px) and (max-width: 480px) {
    
    body {
        width: 100%;
        overflow-x: hidden;
    }
    .nav {
        display: flex;
        flex-direction: row;
        padding: 20px 0px;
        margin: 0 5px;
    }
    .text {
    justify-content: space-evenly;
    padding: 15px 0 0 0;
    }
    .text ul {
    list-style: none;
    padding: 0;
    }
    .text ul li {
    display: inline-block;
    padding: 0 5px;
    cursor: pointer;
    font-family: "Raleway";
    align-self: center;
    }
    .head-img {
        cursor: pointer;
        padding: 0;
        margin: 0;
    }
}
.welcome-section {
    background-color: hsl(217, 28%, 15%);
    padding-bottom: 0;
    margin: 0;
}
.welcome-section .span {
    background-image: linear-gradient(hsl(217, 28%, 15%), hsl(218, 28%, 13%));
    padding: 0 0 60px 0; 
    overflow: visible;
}
.block {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 1fr 1fr;
    align-items: center;
    padding: 0;
    margin: 0;
}
.block .new {
    justify-self: center;
    grid-row: 1/2;
    grid-column: 3/8;
}

.span {
    grid-row: 2/3;
    grid-column: 1/-1;
}
.span .main {
    padding: 0;
    background-image: url("bg-curvy-desktop.svg");
    background-repeat: no-repeat;
    background-size: 1500px 400px;
    padding: 0;
    margin: 0;
    overflow: auto;
    font-family: "Raleway";
}
.main h1 {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    padding: 30px 400px;
    position: relative;
    bottom: 70px;
    font-family: "Raleway";
}
.main p {
    text-align: center;
    font-size: 21px;
    margin: 0 100px;
    padding: 0 330px;
    position: relative;
    bottom: 100px;
    line-height: 0.8cm;
    font-family: "Raleway";
}
.btn1 {
    height: 50px;
    width: 250px;
    margin: 20px 600px;
    border-radius: 30px;
    background-image: linear-gradient(90deg, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    border: none;
    color: #fff;
    justify-content: center;
    position: relative;
    bottom: 100px;
}
@media (min-width: 320px) and (max-width: 480px) {
    .welcome-section .span {
        padding: 0;
    }
    .block .new {
        justify-self: center;
        grid-row: 1/2;
        grid-column: 3/9;
    }
    .block .new img {
    }
    .intro {
        height: 300px;
        width: 400px;
        align-self: flex-start;
        justify-self: center;
        padding: 0;
        margin: 0;
    }
    
    .span .main {
        padding: 0;
        margin: 0;
        background-image: url("bg-curvy-mobile.svg");
        background-size: 500px 400px;
        background-repeat: no-repeat;
        background-size: auto;
        background-position: center;
        max-width: auto;
    }
    .main h1 {
        padding: 100px 40px 70px 40px;
        font-size: 30px;
        font-weight: bold;
        line-height: 1.1cm;
        margin: 0;
    }
    .main p {
        padding: 0 30px;
        margin: 0;
    }
    .btn1 {
        padding: 0;
        margin: 0;
        text-align: center;
        height: 55px;
        width: 200px;
        border-radius: 30px;
        margin: 40px 0 0 120px;
    }
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: flex-start;
    grid-row-gap: 3em;
    padding: 0;
    margin: 0;
}

.wrapper .one {
    max-width: 360px;
    text-align: center;
    font-family: "Raleway";
    font-size: 15px;
    font-weight: 400;
    line-height: 0.6cm;
    transition: all .5s ease;
}
.wrapper .one:hover {
    transform: scale(0.98);
}

.wrapper .two {
    max-width: 410px;
    text-align: center;
    font-family: "Raleway";
    font-size: 15px;
    font-weight: 400;
    line-height: 0.6cm;
    transition: all .5s ease;
}
.wrapper .two:hover {
    transform: scale(0.98);
}

.wrapper .three {
    max-width: 390px;
    text-align: center;
    font-family: "Raleway";
    font-size: 15px;
    font-weight: 400;
    line-height: 0.6cm;
    transition: all .5s ease;
}
.wrapper .three:hover {
    transform: scale(0.98);
}

.wrapper .four {
    max-width: 370px;
    text-align: center;
    font-family: "Raleway";
    font-size: 15px;
    font-weight: 400;
    line-height: 0.6cm;
    transition: all .5s ease;
}
.wrapper .four:hover {
    transform: scale(0.98);
}

.wrapper .six {
    align-self: center;
    justify-self: flex-start;
    max-width: 700px;
    font-family: "Raleway";
}
.wrapper .six h2 {
    font-size: 40px;
    font-weight: 700;
    max-width: 350px;
}
.wrapper .six p {
    max-width: 550px;
    font-size: 15px;
    font-weight: 400;
}
.wrapper .six p a {
    color: hsl(176, 68%, 64%);
}
@media (min-width: 320px) and (max-width: 480px) {
    .wrapper {
        display: grid;
        grid-template-columns: 1fr;
        max-width: 700px;

    }
        .wrapper .one {
        padding-right: 30px;
    }
    .wrapper .two {
        padding-right: 10px;
    }
    .wrapper .three {
        padding-right: 10px;
    }
    .wrapper .four {
        padding-right: 20px;
    }
    .wrapper .five img {
        width: 400px;
        height: 300px;
    }
    .wrapper .six {
        padding: 0;
        margin: 0 30px;
        max-width: 400px;
    }
    .wrapper .six h2 {
        font-size: 25px;
        font-weight: 700;
        max-width: max-content;
        padding: 0 10px;
        text-align: center;
    }
    .wrapper .six p {
        max-width: max-content;
        font-size: 17px;
        font-weight: 400;
        padding: 0 60px 0 40px;
        line-height: 0.7cm;
    }
}

.coat {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3em;
    padding: 120px;
    grid-auto-rows: minmax(100px, auto);
    font-family: "Raleway";
    font-size: 13px;
    line-height: 0.5cm;
}
.coat .one {
    background: hsl(219, 30%, 18%);
    max-width: 300px;
    padding: 1em;
    justify-self: center;
    border-radius: 7px;
    grid-auto-rows: minmax(100px, auto);
}
.coat .one span img {
    max-height: 3em;
    width: 3em;
    border-radius: 50%;
}
.coat .one span p {
    display: inline-block;
}
.coat .two {
    background: hsl(219, 30%, 18%);
    max-width: 300px;
    padding: 1em;
    justify-self: flex-start;
    border-radius: 7px;
    grid-auto-rows: minmax(100px, auto);
}
.coat .two span img {
    max-height: 3em;
    width: 3em;
    border-radius: 50%;
}
.coat .two span p {
    display: inline-block;
}
.coat .three {
    background: hsl(219, 30%, 18%);
    max-width: 300px;
    padding: 1em;
    justify-self: flex-end;
    border-radius: 7px;
    grid-auto-rows: minmax(100px, auto);
    grid-column: 1/2;
    grid-row: 1/2;
}

.coat .three span img {
    max-height: 3em;
    width: 3em;
    border-radius: 50%;
}
.coat .three span p {
    display: inline-block;
}
.coat .zero {
    grid-row: 1/2;
    grid-column: 1/2;
}

@media (min-width: 320px) and (max-width: 480px) {
    .coat {
        display: grid;
        grid-template-columns: 50px 1fr;
        grid-template-rows: repeat(3, 1fr);
        padding: 50px 0;
        margin-left: 70px;
        gap: 1em;
        font-family: "Raleway";
        font-size: 13px;
        line-height: 0.5cm;
        max-width: 700px;
    }
    .coat .zero {
        grid-row: 1/2;
        grid-column: 1/2;
        max-width: 50px;
    }
    .coat .one {
        background: hsl(219, 30%, 18%);
        max-width: 200px;
        padding: 1em;
        grid-row: 1/2;
        grid-column: 2/3;
        justify-self: flex-start;
        border-radius: 7px;
    }
    .coat .one span img {
        max-height: 3em;
        width: 3em;
        border-radius: 50%;
    }
    .coat .one span p {
        display: inline-block;
    }
    .coat .two {
        background: hsl(219, 30%, 18%);
        max-width: 200px;
        padding: 1em;
        grid-row: 2/3;
        grid-column: 2/3;
        justify-self: flex-start;
        border-radius: 7px;
    }
    .coat .two span img {
        max-height: 3em;
        width: 3em;
        border-radius: 50%;
    }
    .coat .two span p {
        display: inline-block;
    }
    .coat .three {
        background: hsl(219, 30%, 18%);
        max-width: 200px;
        padding: 1em;
        justify-items: center;
        grid-row: 3/4;
        grid-column: 2/3;
        justify-self: flex-start;
        border-radius: 7px;
    }
    
    .coat .three span img {
        max-height: 3em;
        width: 3em;
        border-radius: 50%;
    }
    .coat .three span p {
        display: inline-block;
    }
}


.container {
    display: grid;
    grid-template-rows: 1fr 1fr 2fr;
    grid-template-columns: repeat(4, 1fr);
    background-color: hsl(216, 53%, 9%);
}
.btn {
    background-image: linear-gradient(90deg, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    border: none;
    color: #fff;
    justify-content: center;
    height: 35px;
    width: 150px;
    border-radius: 15px;
}
.email {
    height: 35px;
    width: 350px;
    border: none;
    border-radius: 15px;
}
.mood {
    grid-row: 2/3;
    grid-column: 2/4;
    background-color: hsl(217, 28%, 15%);
    text-align: center;
    border-radius: 7px;
    font-family: "Raleway";
    box-shadow: 0 4px 12px 0 #0a0a0a;
}
.mood form {
    padding-bottom: 1.5em;
    padding-top: 0.5em;
}
.mood h2 {
    font-size: 30px;
    font-weight: 700;
}
.mood p {
    padding: 0.5em 2em 0.5em 2em;
    font-size: 13px;
    line-height: 0.6cm;
}
.tres {
    grid-row: 1/3;
    grid-column: 1/5;
    background-color: hsl(218, 28%, 13%);
}

.last {
    grid-row: 3/6;
    grid-column: 1/5;
    align-self: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    padding-left: 3em;
    font-family: "Raleway";
    font-size: 15px;
    background-color: hsl(216, 53%, 9%);
}
.once {
    grid-row: 1/2;
    grid-column: 1/6;
}

.locat {
    width: 300px;
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 1fr;
}
.locate {
    grid-row: 1/2;
    grid-column: 1/2;
    align-self: center;
    justify-self: center;
}

.long {
    grid-row: 1/2;
    grid-column: 2/3;
    align-self: center;
} 


.locat p {
    display: inline;
    line-height: 0.5cm;
}
.extra {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 1fr 1fr;
}
.ring {
    grid-row: 1/2;
    grid-column: 2/3;
    align-self: center;
} 
.beep {
    grid-row: 2/3;
    grid-column: 2/3;
    align-self: center;
} 
.call  {
    grid-row: 1/2;
    grid-column: 1/2;
    align-self: center;
    justify-self: center;
}
.mail {
    grid-row: 2/3;
    grid-column: 1/2;
    align-self: center;
    justify-self: center;
}

.contact {
    justify-self: start;
}

.contact ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.contact ul li:nth-child(1) {
    margin-bottom: 10px;
}

.info {
    justify-self: start;
}

.info ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.info ul li {
    margin-bottom: 10px;
}

.more {
    justify-self: start;
}

.more ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.more ul li {
    margin-bottom: 10px;
}
@media (min-width: 320px) and (max-width: 480px) {
    .container {
        display: grid;
        grid-template-rows: 1fr 2fr;
        grid-template-columns: 1fr;
        padding: 0;
        margin: 0;
    }
    .mood {
        grid-row: 1/2;
        grid-column: 1/2;
        background-color: hsl(217, 28%, 15%);
        text-align: center;
        border-radius: 7px;
        font-family: "Raleway";
        box-shadow: 0 4px 12px 0 #ddeaf0;
        padding: 0;
        max-width: 300px;
        justify-self: center;
    }
    .mood form {
        padding-bottom: 1.5em;
        padding-top: 0.5em;
    }
    .mood h2 {
        font-size: 30px;
        font-weight: 700;
    }
    .mood p {
        padding: 0.5em 4em 0.5em 4em;
        font-size: 13px;
        line-height: 0.6cm;
    }
    .btn {
        background-image: linear-gradient(90deg, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
        border: none;
        color: #fff;
        justify-content: center;
        height: 50px;
        width: 250px;
        border-radius: 30px;
        font-size: 18px;
    }
    .email {
        height: 50px;
        width: 250px;
        border: none;
        border-radius: 50px;
    }
    .last {
        grid-row: 2/3;
        grid-column: 1/2;
        align-self: center;
        display: grid;
        gap: 2em;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
        font-family: "Raleway";
        font-size: 13px;
        background-color: hsl(216, 53%, 9%);
    }
    .once {
        grid-row: 1/2;
        grid-column: 1/2;
        align-self: center;
    }    
    
    .info {
        padding-left: 15px;
    }
    
    .info ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    .info ul li {
        margin-bottom: 10px;
    }
    
    .more {
        padding-left: 15px;
    }
    
    .more ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    .more ul li {
        margin-bottom: 10px;
    }
}
